img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }
  img.favicon {
    width: 16px !important;
    height: 16px !important;
    max-width: none !important;
    max-height: none !important;
    vertical-align: middle;
    margin: 0 2px; }
