.typo {
  color: #666;
  line-height: 1.8; }
  .typo a {
    text-decoration: none; }
    .typo a:link {
      color: #2db7f5; }
    .typo a:visited {
      color: #CACACA; }
    .typo a:hover {
      border-bottom: 1px solid;
      text-decoration: none;
      color: #57c5f7; }
    .typo a:active {
      color: #2baee9; }
  .typo p, .typo pre, .typo ul, .typo ol, .typo dl, .typo form, .typo hr, .typo table, .typo blockquote {
    margin-bottom: 1.8em; }
  .typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6 {
    color: #222;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0.5em; }
    .typo h1 a:link,
    .typo h1 a:visited,
    .typo h1 a:hover,
    .typo h1 a:active, .typo h2 a:link,
    .typo h2 a:visited,
    .typo h2 a:hover,
    .typo h2 a:active, .typo h3 a:link,
    .typo h3 a:visited,
    .typo h3 a:hover,
    .typo h3 a:active, .typo h4 a:link,
    .typo h4 a:visited,
    .typo h4 a:hover,
    .typo h4 a:active, .typo h5 a:link,
    .typo h5 a:visited,
    .typo h5 a:hover,
    .typo h5 a:active, .typo h6 a:link,
    .typo h6 a:visited,
    .typo h6 a:hover,
    .typo h6 a:active {
      color: #666;
      border-bottom: 1px dotted; }
    .typo h1 small, .typo h2 small, .typo h3 small, .typo h4 small, .typo h5 small, .typo h6 small {
      font-size: 70%; }
  .typo h1 {
    font-size: 2.2em; }
  .typo h2 {
    font-size: 2em; }
  .typo h3 {
    font-size: 1.8em; }
  .typo h4 {
    font-size: 1.4em; }
  .typo h5 {
    font-size: 1em; }
  .typo h6 {
    font-size: 0.9em; }
    .typo h6:before {
      counter-increment: h6;
      content: counter(h1) ". " counter(h2) ". " counter(h3) ". " counter(h4) ". " counter(h5) ". " counter(h6) " "; }
  .typo ul,
  .typo ol {
    padding-left: 2em; }
  .typo dt {
    font-weight: bold; }
  .typo dt + dd {
    margin-top: .5em; }
  .typo dd {
    margin-left: 0; }
  .typo dd + dt {
    margin-top: 1em; }
  .typo ol li {
    list-style: decimal; }
  .typo ul li {
    list-style: square; }
  .typo img {
    vertical-align: baseline; }
  .typo table {
    width: 100%; }
  .typo th {
    background: #fbfbfb; }
  .typo caption {
    border-bottom: none; }
  .typo th,
  .typo td,
  .typo caption {
    border: 1px solid #ddd;
    padding: 0.5em 1em;
    color: #666;
    vertical-align: middle; }
  .typo address, .typo caption, .typo cite, .typo code, .typo dfn, .typo em, .typo th, .typo var {
    font-style: normal;
    font-weight: 400; }
  .typo blockquote {
    border-left: 1px solid #31A0D8;
    font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, "FontAwesome", serif;
    padding-left: 1em;
    margin: 1em 3em 1em 2em; }
    @media (max-width: 640px) {
      .typo blockquote {
        margin: 1em 0; } }
  .typo blockquote small {
    display: block;
    color: #999999;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
    text-align: right; }
  .typo blockquote p:last-of-type {
    margin-bottom: 0; }
  .typo hr {
    display: block;
    padding: 0;
    border: 0;
    height: 0;
    border-top: 1px solid #eeeeee;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
  .typo code, .typo pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", FontAwesome, monospace;
    background-color: #F8F8F8; }
  .typo code {
    margin: 0 1px;
    padding: 1px 4px;
    border-radius: 2px;
    color: #C7254E; }
  .typo pre {
    background: #F6F6F6;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 6px;
    word-wrap: normal;
    overflow: auto;
    line-height: 1.4; }
  .typo pre code {
    background: transparent;
    margin: 0;
    padding: 0;
    border-radius: 0;
    color: initial; }
