// 中文内容排版
// @ref https://github.com/sofish/typo.css/blob/master/typo.css

.typo {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  color: #333;
  line-height: 1.8;

  .toc {
    display: inline-block;
    min-width: 200px;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 2rem;

    &-title {
      margin-bottom: 1rem;
    }

    li, ul {
      margin: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
    font-weight: normal;
    color: #000;
    margin-bottom: 0.4em;
    line-height: 1.5;
  }

  .heading {
    a {
      color: #444;

      &,
      &:link,
      &:visited,
      &:hover,
      &:active {
        text-decoration: none;
      }

      &:hover {
        color: #000;
      }
    }
  }

  p, pre, ul, ol, dl, form, hr, table, blockquote {
    margin-bottom: 1.8em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.25em;
  }

  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-top: 2em;
  }

  ul,
  ol {
    padding-left: 2em;
  }

  dt {
    font-weight: bold;
  }

  dt + dd {
    margin-top: .5em;
  }

  dd {
    margin-left: 0;
  }

  dd + dt {
    margin-top: 1em;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: square;
  }

  img {
    vertical-align: baseline;
  }

  table {
    width: 100%;
  }

  table th, table td, table caption {
    border: 1px solid #ddd;
    padding: 0.5em 1em;
    color: #666;
    vertical-align: middle;
  }

  table th {
    background: #fbfbfb;
  }

  table thead th {
    background: #f1f1f1;
  }

  .typo table caption {
    border-bottom: none;
  }

  address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 400;
  }

  blockquote {
    border-left: 1px solid #31A0D8;
    font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, "FontAwesome", serif;
    padding-left: 1em;
    margin: 1em 3em 1em 2em;

    @media (max-width: 640px) {
      margin: 1em 0;
    }
  }

  blockquote small {
    display: block;
    color: #999999;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
    text-align: right;
  }

  blockquote p:last-of-type {
    margin-bottom: 0;
  }

  hr {
    display: block;
    padding: 0;
    border: 0;
    height: 0;
    border-top: 1px solid #eeeeee;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
  }

  code, pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", FontAwesome, monospace;
    background-color: #F8F8F8;
  }

  code {
    margin: 0 1px;
    padding: 1px 4px;
    border-radius: 2px;
    color: #C7254E;
  }

  pre {
    background: #F6F6F6;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 6px;
    word-wrap: normal;
  }

  pre code {
    background: transparent;
    margin: 0;
    padding: 0;
    border-radius: 0;
    color: initial;
  }
}