@import "../varible.scss";

// text
.text-ellipsis {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-light {
  color: $foreground-light-color;
}

.text-muted {
  color: $foreground-muted-color;
}

.text-primary {
  color: $foreground-primary-color;
}

a.text-primary:hover {
  color: $foreground-primary-color-hover;
}

.text-success {
  color: $foreground-success-color;
}

a.text-success:hover {
  color: $foreground-success-color-hover;
}

.text-warning {
  color: $foreground-warning-color;
}

a.text-warning:hover {
  color: $foreground-warning-color-hover;
}

.text-danger {
  color: $foreground-danger-color;
}

a.text-danger:hover {
  color: $foreground-danger-color-hover;
}

.text-lg {
  font-size: 140%;
}

.text-md {
  font-size: 120%;
}

.text-sm {
  font-size: 80%;
}

.text-xs {
  font-size: 60%;
}

.text-space {
  display: inline;
  margin: 0 5px;
}


