.heading {
  font-family: Palatino, Garamond, Times, Georgia, serif;
  position: relative;
  margin-bottom: 15px;
  font-weight: normal; }
  .heading-index {
    margin-right: 10px;
    color: #bbb; }
  .heading-text code {
    font-size: inherit; }
  .heading > a {
    margin: 0;
    color: #444 !important; }
    .heading > a,
    .heading > a:link,
    .heading > a:visited,
    .heading > a:hover,
    .heading > a:active {
      text-decoration: none !important;
      border: 0 !important; }
    .heading > a:before {
      content: "#";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: -30px;
      opacity: 0; }
    .heading > a:hover:before {
      opacity: 1; }
    .heading > a:hover {
      color: #333 !important; }
  .heading_1 {
    font-size: 32px;
    line-height: 64px;
    margin-top: 50px; }
  .heading_2 {
    font-size: 24px;
    line-height: 48px;
    margin-top: 30px; }
  .heading_3 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px; }
  .heading_4, .heading_5, .heading_6 {
    font-size: 16px;
    line-height: 26px;
    margin-top: 16px;
    font-weight: 900; }
