.heading {
  position: relative;

  &-index {
    margin-right: 10px;
    color: #bbb;
  }

  > a {
    color: #444 !important;

    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none !important;
      border: 0 !important;
    }

    &:before {
      content: "#";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: -30px;
      opacity: 0;
    }

    &:hover:before {
      opacity: 1;
    }

    &:hover {
      color: #333 !important;
    }
  }
}
