.toc {
  background: #fff;
  min-width: 200px;
  max-height: 500px;
  overflow: auto;
  position: fixed;
  top: 10px;
  right: 10px;
  border: 1px solid #E8E8E8;
  z-index: 1;
  opacity: 0.5;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-transition: all 300ms;
  transition: all 300ms;
  font-size: 14px; }
  .toc-index {
    margin-right: 10px;
    color: #bbb; }
  .toc + h1,
  .toc + h2 {
    margin-top: 0; }
  @media (max-width: 650px) {
    .toc {
      display: none; } }
  .toc:hover {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  .toc ul li {
    list-style: none; }
  .toc > ul {
    padding: 20px; }
  .toc li,
  .toc ul {
    margin: 0; }
