// 前景色
$foreground-link-color: #0e90d2;
$foreground-link-color-hover: #095f8a;
$foreground-primary-color: #0e90d2;
$foreground-primary-color-hover: #095f8a;
$foreground-success-color: #36bd4f;
$foreground-success-color-hover: #31ac48;
$foreground-warning-color: #f29622;
$foreground-warning-color-hover: #df8a1f;
$foreground-danger-color: #D93731;
$foreground-danger-color-hover: #cd342e;
$foreground-light-color: #bbb;
$foreground-muted-color: #777;

// 背景色
$background-primary-color: #139dd7;
$background-primary-color-hover: #1191c6;
$background-success-color: #5BBD72;
$background-success-color-hover: #66C17B;
$background-success-color-active: #5CB270;
$background-warning-color: #F2C61F;
$background-warning-color-hover: #F3CA2D;
$background-warning-color-active: #e9c12c;
$background-danger-color: #D95C5C;
$background-danger-color-hover: #DC6868;
$background-danger-color-active: #CC6060;
