html, body {
  height: 100%;
}

.body {
  position: relative;
  height: 100%;
  $width: 300px;
  background: #fff;

  &-sidebar,
  &-main {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
  }

  &-sidebar {
    width: $width;
    left: 0;
  }

  &-main {
    right: 0;
    left: $width;
  }
}

.sidebar {
  a {
    display: block;
    color: #5F5F5F;
    line-height: 34px;
    padding: 0 10px;

    &:hover {
      text-decoration: none;
      color: #444;
      background: #eee;
    }
  }

  &-title {
    font-size: 30px;
    text-align: center;

    a {
      background: #eee;
      line-height: 90px;
    }
  }

  li {
    ul {
      margin-left: 2em;
    }
  }
}

.content {
  padding: 20px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}


