html, body {
  height: 100%; }

.body {
  position: relative;
  height: 100%;
  background: #fff; }
  .body-sidebar,
  .body-main {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto; }
  .body-sidebar {
    width: 300px;
    left: 0; }
  .body-main {
    right: 0;
    left: 300px; }

.sidebar a {
  display: block;
  color: #5F5F5F;
  line-height: 34px;
  padding: 0 10px; }
  .sidebar a:hover {
    text-decoration: none;
    color: #444;
    background: #eee; }

.sidebar-title {
  font-size: 30px;
  text-align: center; }
  .sidebar-title a {
    background: #eee;
    line-height: 90px; }

.sidebar li ul {
  margin-left: 2em; }

.content {
  padding: 20px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto; }
