html, body {
  height: 100%; }

.body {
  position: relative;
  height: 100%;
  background: #fff; }
  .body-sidebar,
  .body-main {
    position: absolute;
    top: 0;
    bottom: 0; }
  .body-sidebar {
    width: 300px;
    left: 0;
    box-shadow: 0px 0 10px #D4D4D4; }
    @media (max-width: 650px) {
      .body-sidebar {
        position: fixed;
        top: 0;
        right: 0;
        width: auto;
        bottom: auto;
        z-index: 2; } }
  .body-main {
    right: 0;
    left: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
    @media (max-width: 650px) {
      .body-main {
        left: 0; } }

.sidebar a {
  display: block;
  color: #5F5F5F;
  line-height: 40px;
  padding: 0 16px; }
  .sidebar a:hover {
    background: #F3F3F3; }
  .sidebar a:link,
  .sidebar a:visited,
  .sidebar a:hover,
  .sidebar a:active {
    text-decoration: none; }

.sidebar-title {
  font-size: 30px;
  text-align: center;
  position: relative;
  z-index: 2;
  box-shadow: 0 3px 14px -9px #888; }
  .sidebar-title a,
  .sidebar-title a:hover {
    background: #FAFAFA;
    color: #737373;
    line-height: 60px;
    font-weight: normal; }
    @media (max-width: 650px) {
      .sidebar-title a,
      .sidebar-title a:hover {
        line-height: 40px;
        font-size: 20px; } }

.sidebar-nav {
  background: #fafafa;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  @media (max-width: 650px) {
    .sidebar-nav {
      position: fixed;
      top: 40px;
      z-index: 3;
      width: 50%;
      min-width: 300px;
      border-right: 1px solid #EEE;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: all 300ms;
      transition: all 300ms; } }
  .sidebar-nav.active {
    -webkit-transform: translateX(0); }
  .sidebar-nav a {
    border-bottom: 2px solid #FAFAFA;
    font-size: 14px; }

.sidebar li ul {
  margin-left: 2em; }

.sidebar li.active > a,
.sidebar li.active > a:hover {
  border-bottom-color: #DCDCDC;
  background: #F3F3F3; }

.sidebar-action {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 40px;
  padding: 8px 16px; }
  @media (max-width: 650px) {
    .sidebar-action {
      display: block; } }
  .sidebar-action i {
    width: 100%;
    height: 2px;
    background-color: #FFF;
    display: block;
    margin-top: 4px;
    border-radius: 1px; }

.content {
  padding: 30px;
  max-width: 1000px; }
  @media (max-width: 650px) {
    .content {
      margin-top: 40px;
      padding: 5px; } }
