.body {
  $width: 300px;
  background: #fff;
  border-left: $width solid #f5f5f5;

  &-sidebar {
    width: $width;
    margin-left: -$width;
  }

  &-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sidebar {
  font-size: 18px;

  a {
    display: block;
    line-height: 34px;
    padding: 0 10px;
  }

  li {
    ul {
      margin-left: 2em;
    }
  }
}

.content {
  padding: 20px;
}


