html, body {
  height: 100%;
}

.body {
  position: relative;
  height: 100%;
  $width: 300px;
  background: #fff;

  &-sidebar,
  &-main {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &-sidebar {
    width: $width;
    left: 0;
    overflow: hidden;
  }

  &-main {
    right: 0;
    left: $width;
    overflow: auto;
  }
}

.sidebar {
  $title-size: 60px;

  a {
    display: block;
    color: #5F5F5F;
    line-height: 34px;
    padding: 0 10px;

    &:hover {
      color: #444;
      background: #eee;
    }

    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  &-title {
    font-size: 30px;
    text-align: center;

    a {
      &,
      &:hover {
        background: #555;
        color: #fff;
        line-height: $title-size;
        font-weight: normal;
      }
    }
  }

  &-nav {
    background: #fafafa;
    position: absolute;
    top: $title-size;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }

  li {
    ul {
      margin-left: 2em;
    }

    &.active {
      & > a {
        &,
        &:hover {
          background: #eee;
          color: #222;
        }
      }
    }
  }
}

.content {
  padding: 20px;
  max-width: 1000px;
}


